
<div class='col-md-3 float-left mt-2 mb-2'>
    <div class='card h-100'>
        <img src='@item.Image' class='card-img-top img-fluid' style='width:100%;height:15vw;object-fit:cover' />
        <div class='card-body text-center'>
            <h5 class='card-title text-secondary'>@item.ItemName</h5>
            <p class='card-text text-default'>Brand: @item.Brand</p>
            <p class='card-text text-danger'>Price: Rs.@item.Price</p>
            <p class='card-text text-success'>Discount: @item.Discount%</p>
            <button class='btn btn-outline-default btn-rounded-2 waves-effect' data-toggle="modal" data-target="#myModal">
                <i class='fas fa-store-alt'></i>  Shop Details
            </button>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public Item item { get; set; }
}
