<div id="card-stack" class="row row-cols-1 row-cols-md-3 g-4 mt-4">

    @foreach (Product item in DB)
    {
        <ItemCard item="@item" CallBack="ShowSellerDetails"></ItemCard>    
    }

</div>

<div id="myModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p class="text-default">Shop Name : @seller?.ShopName</p>
                <p class="text-default">Shop Address : @seller?.Address</p>
                <p class="text-default">Email Address: @seller?.Email</p>
                <p class="text-default">Contact  : @seller?.Contact</p>
                
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-outline-secondary rounded-top waves-effect ml-auto mr-auto" data-dismiss="modal">
                    Ok
                </button>
            </div>
        </div>
    </div>
</div>


@code {
    /*public List<Item> DB { get; set; } = new List<Item>
    { 
        new Item{ItemName="Shaper Shoes",Brand="Shaper",Image="/shoes.jpg",Price=1234,Discount=12},
        new Item{ItemName="Nike Shoes",Image="/shoes2.jpg",Price=12000,Discount=30},
        new Item{ItemName="Ladies Shoes",Image="/shoes3.jpg",Price=40000,Discount=20},
        new Item{ItemName="Baby Shoes",Image="/shoes4.jpg",Price=50000,Discount=10},
        new Item{ItemName="Red Berry",Image="/shirt.jpg",Price=40000,Discount=5},
        new Item{ItemName="Brown Digger",Image="/watch.jpg",Price=900000,Discount=15},
        new Item{ItemName="Office Love",Image="/watch2.jpg",Price=35000,Discount=25},
        new Item{ItemName="Gold Mine",Image="/watch3.jpg",Price=400000,Discount=30},
        new Item{ItemName="Royal",Image="/watch4.jpg",Price=5000000,Discount=35},
        new Item{ItemName="Legs Fitter",Image="/pant.jpg",Price=4000,Discount=50}
    };*/
    [Parameter]
    public List<Product> DB { get; set; } = new List<Product>();
    public Seller? seller = null;
    public void ShowSellerDetails(Seller? sellerDetails)
    {
        seller = sellerDetails;
    }
}