<div class='mt-2 mb-3'>
    <div class="card text-center">
        <div class="card-header bg-warning">
        </div>
        <div class="card-body row">
            <div class="col-md-6">
                <h5 class="text-secondary" style="font-style:italic;">Shop Name: @shop.ShopName</h5>
                <h5 class="text-secondary" style="font-style:italic;">Address: @shop.Address</h5>
                <h5 class="text-secondary" style="font-style:italic;">Contact: @shop.Contact</h5>
                <h5 class="text-secondary" style="font-style:italic;">Email: @shop.Email</h5>
            </div>
            <div class="col-md-6">
                <button class='btn btn-outline-danger waves-effect' @onclick="()=>fun(shop.Id)">
                    <i class='fas fa-store-alt'></i>  <b>ViSit SHoP</b>
                </button>
            </div>
        </div>
        <div class="card-footer bg-warning">
        </div>
    </div>
</div>
@code {
    [Parameter]
    public Seller shop { get; set; }
    [Parameter]
    public EventCallback<int> Callback{ get; set; }
    public void fun(int id)
    {
        Callback.InvokeAsync(id);
    }
}
