<!DOCTYPE html>
<html>
<!--adasdasda-->
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Torico</title>
    <link href="~/css/app.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!--matblazor-->

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-198334630-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-198334630-1');
    </script>
</head>

<body>
    <div style="width:100%">
        <div class="sticky-top">
            <nav class="navbar navbar-expand-lg bg-secondary navbar-dark">
                <div class=" container-fluid m-set" style="min-width:fit-content();margin-right:auto;">
                    <span class="m-set ">
                        <a class="navbar-brand" href="/" onclick="gtag('event', 'click', {'event_category' : 'Home','event_label' : 'Home'});">
                            <img src="~/appicon_w.svg" width="30" height="30" />&nbsp;Torico
                        </a>
                    </span>
                </div>
                <div class="container-fluid navbar-nav float-left ml-auto mr-auto p-0" id="navbarSupportedContent">
                    <span style="display:contents">
                        <input type="search" id="form1" style="width:30vw;" class="form-control" placeholder="Search" />
                        <a href="/search" class="btn btn-success btn-md btn-set waves-effect" style="width:fit-content();" onclick="gtag('event', 'click', {'event_category' : 'Home','event_label' : 'Search'});">
                            <i class="fas fa-search"></i><span class=" text-set"></span>
                        </a>
                    </span>
                </div>
                <div class="container-fluid navbar-nav m-set m-auto" style="width:fit-content();">
                    <LoginDisplay />
                </div>
            </nav>
            <nav class="navbar navbar-expand-lg navbar-light bg-light position-relative">
                <div class="container-fluid">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <div class="dropdown">
                                <button class="btn btn-purple dropdown-toggle waves-effect" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="gtag('event', 'click', {'event_category' : 'Home','event_label' : 'category'});">
                                    <i class="fas fa-list"></i>&nbsp;&nbsp;Categories
                                </button>
                                <div id="category" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#" data-value="men" onclick="gtag('event', 'click', {'event_category' : 'Home','event_label' : 'Mens Appearal'});">Men's Appearal</a>
                                    <a class="dropdown-item" href="#" data-value="children" onclick="gtag('event', 'click', {'event_category' : 'Home','event_label' : 'Womens Appearal'});">Children's Appearal</a>
                                    <a class="dropdown-item" href="#" data-value="women" onclick="gtag('event', 'click', {'event_category' : 'Home','event_label' : 'Childrens Appearal'});">Women's Appearal</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-purple waves-effect" href="/spc">
                                <i class="fas fa-user" onclick="gtag('event', 'click', {'event_category' : 'Home','event_label' : 'Profile'});"></i>&nbsp;&nbsp;Profile
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/SellerItems" class="btn btn-purple btn-rounded btn-floating waves-effect" onclick="gtag('event', 'click', {'event_category' : 'Home','event_label' : 'Added Items'});">
                                <i class="fas fa-plus-circle"></i>&nbsp;&nbsp;Added Items
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ">
                        <li class="nav-item">
                            <button type="button" class="btn btn-danger mr-auto waves-effect" onclick="gtag('event', 'click', {'event_category' : 'Home','event_label' : 'Logout'});">
                                <i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;Logout
                            </button>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div>
            @RenderBody()
        </div>
        <div class="container-fluid" style="text-align:center;color:gray;">
            <span style="font-size:12px">Created By BSEF18M004-Mehroz Muzaffar, BSEF18M007-Gull Sher Khan, BSEF18M023-Faizan Muhammad, BSEF18M043-Faraz Ali, BSEF18M046-Ahsen Mehmoord</span>
        </div>
    </div>
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script>
        function gtagH() {
            gtag('event', 'click', { 'event_category': 'AddItems', 'event_label': 'NewItem' });
        }
    </script>
    @RenderSection("Scripts", required: false)
</body>

</html>
