@{Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container w-25 mt-5">
    <h3 style="text-align:center" class="h3">What you are here to do?</h3>
    <form>
        <div class="form-group">
            <button type="submit" class="btn btn-purple btn-block mt-4">Buying</button>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-block mt-4">Selling</button>
        </div>
    </form>
</div>
