@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4 class="text-center mt-4">Please Change Following Details (if any):</h4>
<form action="#" class="text-left" method="post" runat="server" EncType="multipart/form-data">
    <input type="hidden" asp-for="Type" value="Regular" />
    <table class="m-auto w-50">
        <tr>
            <td>
                <label class="col-form-label" for="Name">Product Name: </label>
            </td>
            <td>
                <input class="form-control" name="Name" id="Name" />
            </td>
        </tr>
        <tr>
            <td>
                <label class="col-form-label" for="Price">Product Price: </label>
            </td>
            <td>
                <input class="form-control" name="Price" id="Price" />
            </td>
        </tr>
        <tr>
            <td>
                <label class="col-form-label" for="Quantity">Product Quantity: </label>
            </td>
            <td>
                <input class="form-control" name="Quantity" id="Quantity" />
            </td>
        </tr>
        <tr>
            <td>
                <label class="col-form-label" for="Brand">Product Brand: </label>
            </td>
            <td>
                <input class="form-control" name="Brand" id="Brand" />
            </td>
        </tr>
        <tr>
            <td>
                <label class="col-form-label" for="Category">Product Category: </label>
            </td>
            <td>
                <select id="Category" class="custom-select">
                    <option>Accessories</option>
                    <option>Clothing</option>
                    <option>Appliances</option>
                    <option>Other</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="text-right">
                <input class="btn btn-purple" type="submit" value="Apply Changes" />
            </td>
        </tr>
    </table>
</form>