@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a class="btn btn-success ml-4 mt-4">Add Product</a>
<div class="list-group">
    <div class="list-group-item list-group-item">
        <div class="container-fluid">
            <div class="row">
                <div class="col-2">
                    <img style="width:inherit" src="~/computer-5078696_1920.jpg" />
                </div>
                <div class="col-6 align-top">
                    <h3 class="h3">Laptop</h3>
                    <h5 class="h5">Quantity: <span class="font-weight-light">4</span></h5>
                    <h5 class="h5">Price: <span class="font-weight-light">Rs.12000</span></h5>
                    <h5 class="h5">Brand: <span class="font-weight-light">Lenovo</span></h5>
                    <h5 class="h5">Category: <span class="font-weight-light">Accessories</span></h5>
                </div>
                <div class="col-4 text-right">
                    <a class="btn btn-warning" href="#">Update</a>
                    <a class="btn btn-danger" href="#">Remove</a>
                </div>
            </div>
        </div>
    </div>
    <div class="list-group-item list-group-item">
        <div class="container-fluid">
            <div class="row">
                <div class="col-2">
                    <img style="width:inherit" src="~/shirt.jpg" />
                </div>
                <div class="col-6 align-top">
                    <h3 class="h3">Red Berry</h3>
                    <h5 class="h5">Quantity: <span class="font-weight-light">10</span></h5>
                    <h5 class="h5">Price: <span class="font-weight-light">Rs.2600</span></h5>
                    <h5 class="h5">Brand: <span class="font-weight-light">J.</span></h5>
                    <h5 class="h5">Category: <span class="font-weight-light">Clothing</span></h5>
                </div>
                <div class="col-4 text-right">
                    <a class="btn btn-warning" href="#">Update</a>
                    <a class="btn btn-danger" href="#">Remove</a>
                </div>
            </div>
        </div>
    </div>
    <div class="list-group-item list-group-item">
        <div class="container-fluid">
            <div class="row">
                <div class="col-2">
                    <img style="width:inherit" src="~/shoes.jpg" />
                </div>
                <div class="col-6 align-top">
                    <h3 class="h3">Shaper Shoes</h3>
                    <h5 class="h5">Quantity: <span class="font-weight-light">3</span></h5>
                    <h5 class="h5">Price: <span class="font-weight-light">Rs.5600</span></h5>
                    <h5 class="h5">Brand: <span class="font-weight-light">Service</span></h5>
                    <h5 class="h5">Category: <span class="font-weight-light">Clothing</span></h5>
                </div>
                <div class="col-4 text-right">
                    <a class="btn btn-warning" href="#">Update</a>
                    <a class="btn btn-danger" href="#">Remove</a>
                </div>
            </div>
        </div>
    </div>
    <div class="list-group-item list-group-item">
        <div class="container-fluid">
            <div class="row">
                <div class="col-2">
                    <img style="width:inherit" src="~/shoes2.jpg" />
                </div>
                <div class="col-6 align-top">
                    <h3 class="h3">Nike Shoes</h3>
                    <h5 class="h5">Quantity: <span class="font-weight-light">1</span></h5>
                    <h5 class="h5">Price: <span class="font-weight-light">Rs.9000</span></h5>
                    <h5 class="h5">Brand: <span class="font-weight-light">Stylo</span></h5>
                    <h5 class="h5">Category: <span class="font-weight-light">Clothing</span></h5>
                </div>
                <div class="col-4 text-right">
                    <a class="btn btn-warning" href="#">Update</a>
                    <a class="btn btn-danger" href="#">Remove</a>
                </div>
            </div>
        </div>
    </div>
    <div class="list-group-item list-group-item">
        <div class="container-fluid">
            <div class="row">
                <div class="col-2">
                    <img style="width:inherit" src="~/pant.jpg" />
                </div>
                <div class="col-6 align-top">
                    <h3 class="h3">Legs Fitter</h3>
                    <h5 class="h5">Quantity: <span class="font-weight-light">15</span></h5>
                    <h5 class="h5">Price: <span class="font-weight-light">Rs.4500</span></h5>
                    <h5 class="h5">Brand: <span class="font-weight-light">FitMan</span></h5>
                    <h5 class="h5">Category: <span class="font-weight-light">Clothing</span></h5>
                </div>
                <div class="col-4 text-right">
                    <a class="btn btn-warning" href="#">Update</a>
                    <a class="btn btn-danger" href="#">Remove</a>
                </div>
            </div>
        </div>
    </div>
    <div class="list-group-item list-group-item">
        <div class="container-fluid">
            <div class="row">
                <div class="col-2">
                    <img style="width:inherit" src="~/watch4.jpg" />
                </div>
                <div class="col-6 align-top">
                    <h3 class="h3">Royal</h3>
                    <h5 class="h5">Quantity: <span class="font-weight-light">4</span></h5>
                    <h5 class="h5">Price: <span class="font-weight-light">Rs.1000000</span></h5>
                    <h5 class="h5">Brand: <span class="font-weight-light">Rado</span></h5>
                    <h5 class="h5">Category: <span class="font-weight-light">Accessories</span></h5>
                </div>
                <div class="col-4 text-right">
                    <a class="btn btn-warning" href="#">Update</a>
                    <a class="btn btn-danger" href="#">Remove</a>
                </div>
            </div>
        </div>
    </div>
</div>