@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a class="btn btn-success ml-4 mt-4">Add Product</a>
<div class="list-group">
    <div class="list-group-item list-group-item">
        <div class="container-fluid">
            <div class="row">
                <div class="col-2">
                    <img style="width:inherit" src="~/computer-5078696_1920.jpg" />
                </div>
                <div class="col-6 align-top">
                    <h3 class="h3">Laptop</h3>
                    <h5 class="h5">Quantity: <span class="font-weight-light">4</span></h5>
                    <h5 class="h5">Price: <span class="font-weight-light">Rs.12,000</span></h5>
                    <h5 class="h5">Brand: <span class="font-weight-light">Lenovo</span></h5>
                    <h5 class="h5">Category: <span class="font-weight-light">Accessories</span></h5>
                </div>
                <div class="col-4 text-right">
                    <a class="btn btn-warning" href="#">Update</a>
                    <a class="btn btn-danger" href="#">Remove</a>
                </div>
            </div>
        </div>
    </div>
</div>