@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <span class="m-set ml-auto">
            <a id="manage" class="btn btn-success m-set ml-auto mr-auto waves-effect" href="authentication/profile" >@context.User.Identity.Name</a>
        </span>
    </Authorized>
    <NotAuthorized>
        <span class="m-set ml-auto">
            <!--TODO add href ,, authentication/register + authentication/login-->
            <a class="btn btn-success m-set ml-auto mr-auto waves-effect" href="authentication/login" style="width:fit-content();" onclick="gtag('event', 'click', {'event_category' : 'Home','event_label' : 'Login'});">Login/Registor</a>
        </span>
    </NotAuthorized>
</AuthorizeView>

@code{
    public async Task BeginSignOut()
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
