@page "/sfs"
<div class="container w-25 mt-5">
    <h3 style="text-align:center">SignUp</h3>
    <form action="/action_page.php">
        <div class="form-group">
            <input type="text" class="form-control" id="name" placeholder="Enter your Shop Name" name="name" required>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="email" placeholder="Enter your Email" name="email" required>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="address" placeholder="Enter your Address" name="address" required>
        </div>
        <div class="form-group">
            <input type="number" class="form-control" id="number" placeholder="Enter your Contact Number" name="number" required>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="password" placeholder="Enter your Password" name="password" required>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm your Password" name="confirmPassword" required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-secondary btn-block waves-effect" onclick="gtag('event', 'click', {'event_category' : 'SFS','event_label' : 'CA'});">Create Account</button>
        </div>
    </form>
</div>


@code {

}
